<div class="container">
  <div id="<%= dom_id collection %>" class="card">
    <div class="card-body">
      <h5 class="card-title"><strong><%= collection.name %></strong></h5>

      <img src="<%= collection.image_url %>" class="card-img-top" alt="Collection Image" width="200" height="200">

      <div class="mb-3">
        <strong>Description:</strong>
        <%= collection.description %>
      </div>

      <div class="mb-3">
        <strong>Category:</strong>
        <%= collection.category %>
      </div>

      <div class="mb-3">
        <strong>Image URL:</strong>
        <%= collection.image_url %>
      </div>

      <div class="mb-3">
        <strong>Total no. of items:</strong> 
        <%= collection.items.count %>
      </div>

      <div class="mb-3">
        <strong>List of all items:</strong>
        <ul>
          <% collection.items.each do |item| %>
            <li>
              <strong>Name:</strong> <%= item.name %> </br>
              <strong>Description:</strong> <%= item.description %> </br>
              <strong>Image URL:</strong> <%= item.image_url %> </br>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="mb-3">
        <strong>Collection author:</strong>
        <%= collection.user.nickname %> 
      </div>
    </div>
  </div>
</div>
