<div id="<%= dom_id user %>" class="card">
  <div class="card-body">
    <p class="card-text">
      <strong>Email:</strong>
      <%= user.email %>
    </p>

    <p class="card-text">
      <strong>Password:</strong>
      <%= user.password %>
    </p>

    <p class="card-text">
      <strong>Nickname:</strong>
      <%= user.nickname %>
    </p>

    <p class="card-text">
      <strong>Admin:</strong>
      <%= user.admin %>
    </p>
  </div>
</div>