<nav class="navbar navbar-expand-lg bg-success">
  <div class="container-fluid">
  	<%= link_to 'MyCollection', root_path, class:"navbar-brand text-white" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <%= link_to 'My collections', collections_path, class:"nav-link text-light" %>
        <%= link_to 'Add collection', new_collection_path, class:"nav-link text-light" %>
        <%= link_to 'About us', home_about_path, class:"nav-link text-light" %>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Type your tags here..." aria-label="Search">
        <button class="btn btn-outline-dark me-2 text-white" type="submit">Search</button>
      </form>
      <div class="d-flex">
      <%= link_to "Sign up", new_user_registration_path, class:"btn btn-primary me-2" %>
      <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class:"btn btn-dark me-2" %>
      <%= link_to "Log in", new_user_session_path, class:"btn btn-primary text-white" %>
      </div>
  </div>
</nav>